body{
    font-family: 'Arial';
    font-size: 22px;
    background-color: #F6F6DB;
}

.navbar{
    background-color: #38422B;
    padding: 0px 10px 0px 10px;
}

.container_card { 
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: #F2EED7;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px #888888; */
}