<div class="container" style="width: 80vh;">
    <!-- This is the image header -->
    <center> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo" height="200px">
    </center>

    <div>
        <center>
            <h1><i>Welcome to Local Pioneer!</i></h1>
            <hr style="border: 1px solid #000;">
        </center>
    </div>


    <!-- This is the form -->
    <div class="container">
        <h2>Forgot Password</h2>
        <form action="/reset_password" method="post">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>

</div>