<style>
    body {
        background-color: #F6F6DB;
    }

    /* Style for centering the form */
    /* .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* Full viewport height */
    }

    */

    /* Optional styling for the logo */
    .logo {
        display: block;
        margin-inline: auto;
        margin-bottom: 15px;
    }
</style>

<div class="container" style="width: 80vh;">
    <!-- Logo centered above the form -->
    <center> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo" height="200px">
    </center>

    <div>
        <center>
            <h1><i>Welcome to Local Pioneer!</i></h1>
            <hr style="border: 1px solid #000;">
        </center>
    </div>

    <form>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Username / Email address</label>
            <input type="email" id="username_email" class="form-control" />

        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label>Password</label>
            <input type="password" id="password" class="form-control" />
        </div>

        <!-- Submit button -->
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4"
            style="background-color: #687a50;">Sign in</button>


        <!-- Forgot buttons -->
        <div class="text-center">
            <a href="#!">Forgot Password?</a>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
        </div>

    </form>
</div>