<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Local Pioneer {{page_name}}</title>
</head>
<body>
    <div class="phone-screen">
        <!-- Content of the screen goes here -->
         
        {% if page_name == "login" %}
            {% include 'login.html' %}
        {% elif page_name == "signup" %}
            {% include 'signup.html' %}
        {% elif page_name == "feed_page" %}
            {% include 'feed_page.html' %}
        {% elif page_name == "profile_page" %}
            {% include 'profile_page.html' %}
        {% elif page_name == "network" %}
            {% include 'network.html' %}
        {% elif page_name == "map" %}
            {% include 'map.html' %}
        {% endif %}

    </div>
</body>
</html>